body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.main{
  background-color: #040711;
}
.email-label{
color: #989ea9;
font-size: 14px;
font-weight: 500;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.form-input{
background-color: #02040a;
color: #2f3643;
border: 3px solid #212936;
font-size: 14px;
font-weight: 500;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.form-input::-webkit-input-placeholder {
color: #343c49;
}

.send-login{
background-color:#519b91;
color:#cce1df;
font-size: 14px;
font-weight: 500;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}
.send-login:hover{
background-color: #747984;

}
.or{
align-items: center;
padding-left:50px ;
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-size: 14px;
font-weight: 500;
 color: #5a5c63;
}


h1 {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  margin-top:50px;
  margin-bottom: 50px;
  margin-right: 50px;
  text-align: right;
  font-size: 15px;
  max-width: 600px;
  position: relative;
  cursor: not-allowed;
      
 }
    h1:before {
      content: "";
      display: inline-block;
      width: 120px;
      height: 1px;
      background:#131823;
      left: -1px;
      top: 50%;
      position: absolute;
    }
    h1:after {
      content: "";
      display: inline-block;
      width: 140px;
      height: 1px;
      background: #131823;
      right: -160px;
      top: 50%;
      position: absolute;
      
    }
.login-google {
transition: background-color .3s, box-shadow .3s;  
padding: 12px 16px 12px 42px;
margin-bottom: 10px;
border: none;
border-radius: 4px;
box-shadow: 0 0px 0 rgb(71, 78, 94), 0 0px 0px rgb(116, 121, 132);
width:300px;
color: #67686f;


font-size: 14px;
font-weight: 500;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
background-color:#21222b;



}

.fa-google{
margin-left: 30px;
width: 20px;
height: 20px;
}
.fa-github{

padding-right: 0px;
padding-left:60px;
}
.google-signin{
font-size: 15px;


}
.a-github{
text-align: center;
padding-left: 15px;
padding-right: 15px;
}

.google-signin{
  padding-right: 60px;
  margin-left: 15px;
 
}
.login-git {
transition: background-color .3s, box-shadow .3s; 
padding-right:50px;

border: none;
border-radius: 4px;




color: #67686f;
font-size: 14px;
font-weight: 500;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
background-color: #21222b;



}

.terms{
 color: #32353d;
 font-size: 13px;
 font-weight: 500;
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
padding-top: 10px;
padding-left: 15px;
margin-left: 15px;
margin-right: 10px;
}